*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: #f7f7f2;
    color: #1e1e24;
}
header{
    position: relative;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 8rem;
}
.logo{
    color: #1e1e24;
    font-size: 1.2rem;
    font-weight: 600;
}
.navmenu{
    display: flex;
}
.navmenu a {
    display: inline-block;
    margin: 0 1.5rem;
    color: #1e1e24;
    font-weight: 500;
    transition: all 0.6s;
}
.navmenu a:hover{
    transform: translateY(-5px);
}
.contener .apapun h2{
    align-items: center;
    margin-left: 45%;
    margin-top: 20px;
}
.judul{
    display: flex;
    justify-content: space-between;
}
.box{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    background-color: #0F2C59;
    width: 40%;
    height: 40%;
    margin-top: 80px;
    border-radius: 10px;
    margin: 50px;
}
.box .poto img {
    width: 95%;
    height: auto;
    padding-left: 15px;
    padding-top: 15px;
    border-radius: 10px;
    align-items: center;
}
.box .poto strong {
    color: white;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-top: -1px;
}